.body {
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	font-weight: lighter;
	text-align: center;
}

.pfp
{

	flex-direction: row;
	justify-content: center;
	align-items: center;		
}	



.work {
	color: chocolate;
}




.button {
    border-radius: var(--image);
    padding: 5px 10px;
    border: double;
    background: var(--text);
    color: var(--background);
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    cursor: pointer;
    font-family: var(--font);
    width: 160px;
}

