body {
	background-image: url("https://scontent.fceb1-3.fna.fbcdn.net/v/t39.30808-6/294420918_7940893732617486_7338377372419534476_n.jpg?stp=dst-jpg_s720x720&_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFNfv5KaaEw1zIR2C8ZElMhR5RhzPvx4nxHlGHM-_HifFgLVFhSjB7DcvoCc7yuwMfDZJpy0FSjRrCGNdyfyRLZ&_nc_ohc=_jMt3H9BcPAAX8ScGwy&_nc_ht=scontent.fceb1-3.fna&oh=00_AT-vUeMUNhFZk9OjKqw3hNZE_U45APxeyRmeiGURuzphaA&oe=62E12EFC");
	background-repeat: no-repeat;
	background-size: cover;
	font-weight: lighter;
	text-align: center;
	color: white;


}

.pfp
{

	flex-direction: row;
	justify-content: center;
	align-items: center;		
}	



.work {
	color: chocolate;
}




