body {
	background-image: url("../Me BIO/DarkBG.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-weight: lighter;
	text-align: center;
	color: white;


}

.pfp
{

	flex-direction: row;
	justify-content: center;
	align-items: center;		
}	



.work {
	color: chocolate;
}




